.card:hover img
{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;

}

.card img
{
    transform: scale(1.0,1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    
}

.card-img-wrapper
{
    overflow: hidden;
    position: relative;
}

/* we make members icon absollute to images inside card */
.member-icons
{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

/* when we hover ovre buttons we see it when not we dont see it*/
.card-img-wrapper:hover .member-icons
{
    bottom: 0;
    opacity: 1;
}

/* buttons will comes from transition and will appear from dowward to upward */
.animate
{
    transition: all 0.3s ease-in-out;
}
