<div class="row">

    <div *ngFor="let member of members" class="col-2">
        <app-member-card [member]="member"></app-member-card>
    </div> <!-- for each memeber we need to display the member card component-->

</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
 
</pagination>
</div>